*{
    background-color:var(--navbar-footer-color);
  
}
footer{
   /* margin-top: 85vh;*/

}
.container{
    background-color: rgba(242, 242, 242, 0.542);

}

.nav-link{
    font-size: 15px;
    color: black;

}
.rowTitle{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-color);
}
.form-control{
    background-color: rgb(252, 252, 252);
}
.emailInput{
    border-radius: 20px;
    background-color: white;
    
}
.subscribeBtn{
    border-radius: 20px;
margin-top: 10px;
}
.copyright{
    padding-top: 30px;
}