*{
    background-color:var(--grainsboro);
  
}


.nav-link{
    font-size: 15px;
    color: black;

}
.rowTitle{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: var(--olive-green); /* Adjust the color as needed */
}
.form-control{
    background-color: rgb(252, 252, 252);
}
.emailInput{
    border-radius: 5px;
    background-color: white;
    
}
.subscribeBtn{
    border-radius: 10px;
margin-top: 10px;
border:none;
}
.copyright{
    padding-top: 30px;
}