<div class="card">
  <div class="image-container">
<img src="{{ blog.image }}" alt="posy-image" />
  </div>

  

  <div class="card-body">
    <div
      class="container"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h5 class="mt-1">{{ shortenTitle(blog.title) }}</h5>

      <div style="display: flex; align-items: center">
        <i class="fa-regular fa-eye" ></i>
        <p class="numberViews ml-2 mt-2">{{ blog.views }}</p>
      </div>
    </div>

    <p class="container post-content">
      {{ blog.content }}
    </p>

    <a class="view-more" routerLink="/post" (click)="redirectToSinglePost()">
      view more</a
    >
    <small class="bg-light blogBy text-center ml-3"
      >BLOG BY - {{ authorName }}</small
    >
  </div>
</div>
<br />
<br />
