body{
    margin: 1vw;

    font-family: 'Playfair Display', serif;

}
*{
  background-color:rgb(245, 245, 227);
  border-radius: 1vw;
}

.container-split {
    display: flex;
    justify-content: space-between;
    margin-top: -3vw;
    padding:2vw;
  }

  .container-split .left-container,
  .container-split .right-container {
    flex-basis: 48%; /* Adjust the width of each container as needed */
  }
  .booksImg{
    size:10vw;
    width:50vw;
  }
  .content{
    font-size:medium;
    margin-left: 50px;
    margin-right: 50px;
  }
  .right-container{
    background-color:beige;
    border-radius: 40px;

  }
  
  h1,h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;

  }
  .titre{
    margin-left: 70px;
  }