<body>
  <br />
  <div class="titre">
    <h1>About-Us</h1>
  </div>
  <br /><br />
  <div class="container-split">
    <div class="left-container">
      <img class="booksImg" src="/assets/books.png" alt="" />
    </div>

    <div class="right-container">
      <div class="content">
        <h2>birdy blogs</h2>
        <p class="paragraph">
          In a world inudated with emails, fake news, status updates, smatphones
          and connected watches, we exist to bring our community back to the
          moment and deliver that comforting feeling everyday of the week. This
          is the moment our customer finds balance; when he/she finally stops
          focusing on society' judgements and their infinite expectations and
          shifts their precious attention on the things that really matter.
        </p>

        <br />

        <h2>who are we</h2>

        <p class="paragraph">
          A passionate and diverse group of individuals has come together to
          create a captivating psychology blog. Comprising psychologists,
          therapists, researchers, and psychology enthusiasts, this dedicated
          team is committed to making the intricacies of psychology accessible
          to a broad audience. Through engaging articles, they share insights,
          debunk myths, and offer evidence-based content on topics ranging from
          mental health and well-being to the latest research findings.
        </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <br /><br /><br />
</body>
