body{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;

}
*{
  background-color:rgb(225, 245, 255);
  border-radius: 50px;
}

.container-split {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .container-split .left-container,
  .container-split .right-container {
    flex-basis: 48%; /* Adjust the width of each container as needed */
  }
  .booksImg{
    size:10rem;
    width:800px;
  }
  .content{
    margin-top: 30px;
    font-size:larger;
    margin-left: 50px;
    margin-right: 50px;
  }
  .right-container{
    background-color:rgb(225, 245, 255);
    border-radius: 40px;

  }
  
  h1,h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;

  }
  .titre{
    margin-left: 70px;
  }