body{

  font-family: Playfair;
}
*{
background-color:var(--olive-green);
}

.container-split {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container-split .left-container,
.container-split .right-container {
  flex-basis: 48%; /* Adjust the width of each container as needed */
}

.content{
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  color:whitesmoke;
}
.right-container{
 

}
h2,h1{
  font-weight: bold;
  font-family: 'Playfair Display', serif ;
  color:whitesmoke;
  letter-spacing: 0.15em;

}
.titre{
  margin-left: 70px;
}
.paragraph1{
  margin-left: 70px;
  margin-right: 70px;
  color:whitesmoke;


}
.picture{
  scale:-1.4 -1;
  margin-right: 35%;
  margin-top: 1.5vw;
}

.sendBtn{
  border-radius: 5px;
  width:90px;
  background-color: rgb(255, 252, 241);
  box-shadow: 5px 5px 5px #4d5333;
padding: 4px;
  color:var(--olive-green);
  font-weight: bolder;
  border:none;
  margin-top:-20vw ;
  transform: 3s ease;
}
.sendBtn:hover{
  transform: 3s ease;

  background-color: rgb(225, 247, 165);
}
.paragraph{
  margin-top: -35px;

}
.form-input{
  background-color: rgb(255, 252, 241);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #4d5333;

}
.form{
margin-left: 15%;
}
