<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row flex-center uphalf">
      <div class="input">
        <label for="">Username:</label>
        <input
          class="form-control mt-2 mb-4"
          [(ngModel)]="user.username"
          type="text"
        />
      </div>

      <div class="input">
        <label for="">Bio:</label>
        <textarea
          class="form-control mt-2 mb-4"
          id="paragraphInput"
          [(ngModel)]="user.bio"
          rows="5"
        ></textarea>
      </div>

      <div class="input">
        <label for="">E-mail:</label>
        <input class="form-control mt-2" [(ngModel)]="user.email" type="text" />
      </div>

      <button (click)="updateUser()" class=" btnSave">save</button>
    </div>
  </div>
</section>
