
.section {
    padding: 5vw 0 2vw 0;
}
.gray-bg {
    background-color:var(--dark-beige);
}



.dark-color {
    color: #000000;
}
.input{
    font-size:18px;
    color:rgb(78, 88, 64);

    text-transform: capitalize;
margin-bottom: 15px;
}
.uphalf{
    margin-bottom: 30px;
    justify-content: center;
}




  .btnSave {
    color:rgb(101, 114, 85);
    --color:101, 114, 85;
    border-radius: .5em;
    transition: .3s;
    width:200px;
    background-color: rgba(var(--color), .1);
    color: rgb(var(--color));
    fill: rgb(var(--color));
    letter-spacing: 0.2em;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(var(--color));
    box-shadow: 0 0 10px rgba(var(--color), .4);
    outline: none;
    display: flex;
    justify-content: center;
    padding: .5em 1em;
  }
  
  .btnSave:hover {
    box-shadow: 0 0 0 5px rgba(var(--color), .5);
  }
  

  
 
  
  .btnSave:active {
    transition: 0s;
    box-shadow: 0 0 0 5px rgb(var(--color));
  }