<body>
  
  <div class="form-box">
    <div class="wrapper scrollable">
      <div *ngIf="showFollowers">
        <div *ngFor="let element of followers" class="element">
          <div class="container">
            <div class="follower">
             
              {{ element.followerUsername }}
            </div>
            <div class="unfollowBtn">
              <button (click)="Unfollow(element.followerId)">
               
                Unfollow</button>
            </div>
          </div>
        </div>
      </div>



      <div *ngIf="!showFollowers">
        <div *ngFor="let element of followings" class="element">
          <div class="container">
            <div class="follower">
             
              {{ element.followingUsername }}
            </div>
            <div class="unfollowBtn">
              <button (click)="Remove(element.followingId)">
               
                Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
