<header>
  <script src="sweetalert2.all.min.js"></script>
</header>
<section class="title">
    <h2 class="text-center titleText mr-5">Refine and elevate your post</h2>
  </section>
  <section class="new-blog gray-bg">
    <div class="blue">
      <div *ngIf="choosePicPage == false">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Title:</label>
          <input
            [(ngModel)]="updateblogRequest.title"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder=""
          />
        </div>
  
        <div class="name  ">
          <label for="">Content:</label>
          <textarea
            [(ngModel)]="updateblogRequest.content"
            class="form-control scrollable"
            id="paragraphInput"
            rows="5"
            style="white-space: pre-wrap"
          ></textarea>
        </div>
  
        <div class="upload">
          <p style="font-size: larger">choose a category:</p>
  
          <select
            class="form-select form-select-lg mb-3"
            aria-label="Large select example"
            [(ngModel)]="chosenCategory.name"
            (ngModelChange)="onCategoryChange()"
          >
            <option selected>...</option>
            <option *ngFor="let category of categories" [value]="category.name">
              {{ category.name }}
            </option>
          </select>
          <label
            for="formGroupExampleInput addCategotyLabel"
            class="form-label addCategotyLabel"
            >does not exist? add one</label
          >
          <div class="row">
            <div class="col-6">
              <div class="addCommentSc">
                <input
                  [(ngModel)]="newCategory.name"
                  type="text"
                  class="form-control input-comment"
                  id="formGroupExampleInput"
                  placeholder=""
                />
                <input
                  (click)="addCategory()"
                  class="btn btnSave button--submit"
                  value="add category"
                  type="submit"
                />
              </div>
            </div>
          </div>
        </div>
  
     
  
        <div  class="emptySpace"></div>
  
  
        <button class="btn-class-name" (click)="editBlog()">
          <span>next</span>
          <svg
            viewBox="0 0 320 512"
            height="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
            ></path>
          </svg>
        </button>
  
  
  <div class="emptyspacesmall" style="height:3vw;"></div>
      </div>
  
      <div class="choosePic-Container" *ngIf="choosePicPage == true">
        <p style="font-size: larger" class="mb-4">choose an image:</p>
        <input type="file" class="form-control" (input)="fileChoosen($event)" />
<div class="ImageContainer">

  <img
  class="blog-image img-fluid"
  src="{{ selectedImage }}"
  alt="posy-image"
/>

</div>
    
        <br />
        <button class=" publishBtn" (click)="submitPhoto()">publish</button>
        <div class="emptySpace" style="height: 40px;"></div>
      </div>
    </div>
  </section>
  