<div class="d-flex flex-row align-items-center commented-user">


  <div class="d-flex flex-row add-comment-section mb-4">
    <img
      class="img-fluid img-responsive rounded-circle"
      src="{{commentatorImage}}"
      width="38"
    />
   
  </div>




  <h5 class="mr-2 commentUsername">
    {{ comment.author.userName }}
  </h5>
  <span class="commentDate">added on : {{ getdate() }}</span>
</div>
<div class="comment-text-sm">
  <span>{{ comment.content }}</span>
</div>
<div class="reply-section">
  <div class="d-flex flex-row align-items-center voting-icons">
    <button *ngIf="!thumbsup" class="btn liking" (click)="thumbsUp()">
      <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
    </button>

    <button *ngIf="thumbsup" class="btn liking liked" (click)="thumbsUp()">
      <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
    </button>

    <span class="commentRating">{{ comment.likes }}</span>

    <button *ngIf="!thumbsdown" class="btn liking" (click)="thumbsDown()">
      <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
    </button>

    <button *ngIf="thumbsdown" class="btn liking liked" (click)="thumbsDown()">
      <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
    </button>

    <span class="commentRating">{{ comment.dislikes }}</span>
  </div>
</div>
