* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
    font-family: 'Playfair Display', serif;

}
.form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
    width: 100%;
	background-color: rgb(255, 255, 255);
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
	padding: 20px;
	width: 800px;
	height: 500px;
    border-radius: 7px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.img-area {
	flex: 1;
	padding: 20px;
	text-align: center;
    size:10px
}
.img-area img {
	max-width: 100%;
	height: auto;
}
.form-area {
    background: whitesmoke;

	flex: 1;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-area h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.single-form {
	margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		text-align: center;
		height: auto;
		width: auto;
	}
	.img-area, .form-area {
		flex: none;
	}
	.img-area {
		margin-bottom: 20px;
	}
 
}
.welcome{
    font-size: small;
    margin-top: -20px;
    margin-bottom: 30px;
}
.forgotPassword{
    color:black;
    margin-right: 205px;
    font-size: small;
    margin-top: -50px;
    font-style: italic;
}
.btn{
    margin-top: 50px;
}
.createAccount{
    background-color: whitesmoke;
    font-style: italic;
    font-size: small;
    border: 0px;
    margin-top: 70px;

    height: 35px;
}
.signUpInput{
    height: 30px;
}
.alreadyhaveaccount{
width:180px;
    color:black;
    font-size: small;
    font-style: italic;
    border: 0px;
}
.join{
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: large;
}

.login-btn {
	width: 250px;

	color: white;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background-color: var(--olive-green);
	cursor: pointer;
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #b9cbcd, -6px -6px 12px #ffffff;
  }
  
  .login-btn:hover {
	border: 1px solid white;
  }
  
  .login-btn:active {
	box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }


  .signUp-btn {
	width: 250px;

	color: white;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background-color: var(--olive-green);
	cursor: pointer;
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #b9cbcd, -6px -6px 12px #ffffff;
  }
  
  .signUp-btn:hover {
	border: 1px solid white;
  }
  
  .signUp-btn:active {
	box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  