.bg-theme {
    background-color: var(--light-steel-blue); /* Adjust the color as needed */
    padding-left: 3vw;
    padding-right: 3vw;

    padding-bottom: 2vw;
    padding-top: 2rem;


}

h1 {
    text-transform: uppercase;
}
.row{
    padding-bottom:10vw;
}

.postCard {
    padding-left: 2rem;
    padding-top: 2rem;

}

.form-select {
    width: 70%;
    height: 45px;
    border-radius: 10px;
}
.upperPart{
    margin-bottom:3vw;
}