.section {
  padding: 5vw;
}

.gray-bg {
  background-color: rgba(240, 237, 212, 0.692);
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  width: 100%;
  /* Make the image fill the width of the container */
  height: 100%;
  /* Make the image fill the height of the container */
  object-fit: cover;

}

.container {
  min-height: 400px;
  overflow: hidden; 
  max-height: 1000px;
}

.about-avatar {
  margin-left: 10%;
  overflow: hidden;
  width: 400px;
  /* Set the width of your container */
  height: 450px; 
}



  .editPhotoContainer {
   display:flex;
   flex-direction: column;
   align-content: flex-end;

}

.editPhotoBtn {
  margin: 5px !important;

    position: absolute;
    align-self: flex-end; /* Align to the end of the container */
  align-content: flex-end;
    width: 60px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgba(238, 234, 218, 0.763) !important;

    color: rgb(125, 109, 87);
    font-weight: 500;
    cursor: pointer;
    border-radius: 7px;

    box-shadow: 3px 3px 2px rgba(221, 213, 187, 0.596);
}
svg {

  fill: rgb(110, 97, 78) !important;
  transition-duration: .2s;
  width:100%
}
.editPhotoBtn:hover{
  font-size: 120%;
  background-color: rgba(238, 234, 218, 0.9) !important;

}




/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p {
  color: #485d6e;
}

.about-list {
  padding-top: 10px;
  margin-bottom: 50px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: rgb(62, 80, 34);
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 10px 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.155);
}

.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}



.about-section .counter p {
  font-weight: 600;
  margin: 0;
}



.name {
  font-size: 180%;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.uphalf {
  margin-bottom: 30px;
}

.modify-button{
  display: flex;
  justify-content: flex-end;
  width:100%

}




.edit-Btn {
  position: relative;

  width: 80px;
  height: 40px;
  border: none;
  background-color: var(--grainsboro);

  color: rgb(125, 109, 87);
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
padding-right: 10px !important;
  box-shadow: 3px 3px 1px rgba(221, 213, 187, 0.596);
  transition-duration: .3s;
}

.svg {
  margin-top: 3px;
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  fill: rgb(125, 109, 87);
  transition-duration: .3s;
}

.edit-Btn:hover {
  color: transparent;
}

.edit-Btn:hover svg {
  margin-top: 3px !important;

  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.edit-Btn:active {
  transform: translate(3px, 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(164, 158, 113);
}








.count {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: rgb(113, 165, 228) !important;
}

.invisibleBtn {
  background-color: transparent;
  border: none;
}

.choosePic-Container {
  padding-bottom: 100px;
  margin-right: 50px;
}





.saveBtn {
  color:rgb(64, 63, 50);
  border-radius: .3em;
  transition: .3s;
  width:80px;
  max-width: 200;
  min-width: 60px;
  background-color: white;
  color: rgb(var(--color));
  fill: rgb(var(--color));
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px  rgb(139, 196, 243);
  outline: none;
  display: flex;
  justify-content: center;
  padding: .5em 1em;
  margin-left:10px;
}

.saveBtn:hover {
  background-color:  rgb(223, 241, 255);
  box-shadow: 0 0 5px  rgb(192, 227, 255);

}

