.section {
  padding: 3vw;
}

.gray-bg {
  background-color: rgba(240, 237, 212, 0.692);
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  width: 100%;
  /* Make the image fill the width of the container */
  height: 100%;
  /* Make the image fill the height of the container */
  object-fit: cover;

}

.container {
  min-height: 400px;
  overflow: hidden; 
  max-height: 1000px;
}

.about-avatar {
  margin-left: 10%;
  overflow: hidden;
  width: 400px;
  /* Set the width of your container */
  height: 450px; 
}

/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p {
  color: #485d6e;
}

.about-list {
  padding-top: 10px;
  margin-bottom: 50px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: rgb(62, 80, 34);
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 10px 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.155);
}

.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}



.about-section .counter p {
  font-weight: 600;
  margin: 0;
}



.name {
  font-size: 180%;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.uphalf {
  margin-bottom: 30px;
}

.modify-button{
  display: flex;
  justify-content: flex-end;
  width:100%

}

.modifyBtn {
  justify-content: flex-end;
  width: 70px;
  height: 40px;
  background-color: rgb(113, 165, 228);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.count {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: rgb(113, 165, 228) !important;
}

.invisibleBtn {
  background-color: transparent;
  border: none;
}