<div class="container post-body">
  <div class="card">
   
    <img  class="card-img-top img-fluid" src="{{blog.image}}" alt="posy-image" >

    <div class="card-body row">
      <div class="col-3">
        <small class="bg-light text-center label">
          {{ blog.category }}
        </small>
      </div>
      <h1 class="mt-5 ml-5 mb-3 ">{{blog.title}}</h1>

      <p class="content">{{ blog.content }}</p>

      <p class="author">
        By
        <button class="authorBtn Btn" (click)="navigateBlogAuthor()">
          blog.author
        </button>
      </p>

      <div class="container2">
        <p class="rateQu">Did you like this blog?</p>
        <div style="margin-left: 10px"></div>
        <div class="thumbs thumbs-up">
          <i
            (click)="thumbsUp()"
            *ngIf="!thumbsup"
            class="fa-regular fa-thumbs-up"
          ></i>
          <i
            (click)="thumbsUp()"
            *ngIf="thumbsup"
            class="fa-solid fa-thumbs-up"
          ></i>
        </div>
        <p class="rating">{{ thumbsUpRating }}</p>

        <p class="thumbs"></p>
        <p class="rating">{{ thumbsDownRating }}</p>

        <div class="thumbs-down thumbs">
          <i
            (click)="thumbsDown()"
            *ngIf="!thumbsdown"
            class="fa-regular fa-thumbs-down"
          ></i>
          <i
            (click)="thumbsDown()"
            *ngIf="thumbsdown"
            class="fa-solid fa-thumbs-down"
          ></i>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
          <div class=" ">
            <div class="d-flex flex-row add-comment-section mb-4">
              <img
                class="img-fluid img-responsive rounded-circle"
                src="https://i.imgur.com/qdiP4DB.jpg"
                width="38"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Add comment .."
                [(ngModel)]="addCommentRequest.content"
              /><button class="btn commentBtn" type="button" (click)="addComment()">comment</button>
            </div>

            <div
              class="commented-section mt-2"
              *ngFor="let comment of comments"
            >
              <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2 commentUsername">{{ comment.author.userName }}</h5>
                <span class="commentDate">added: {{ comment.date }}</span>
              </div>
              <div class="comment-text-sm">
                <span>{{ comment.content }}</span>
              </div>
              <div class="reply-section">
                <div class="d-flex flex-row align-items-center voting-icons">
                  <button class="btn liking" (click)="likeComment(comment.Id)">
                    <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>


                  </button>
                  
                  <span class="commentRating">{{ comment.likes }}</span>


                  <button class="btn liking" (click)="dislikeComment(comment.Id)">
                  
                    <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i
                      >
                  </button>
                 <span class="commentRating">{{ comment.dislikes }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
